#nav_bar{
	width:1130px;
	margin:100px auto;
	background:#eee;
}

/*/**left style*/
.nav_left{
	list-style: none;
}
.nav_left:after{
	content:"";
	display:block;
	clear:both;
}

.nav_left>li{
	float:left;
	margin-right:30px;
	color:#666;
	line-height: 46px;
	border-bottom: 3px solid transparent;
}
.nav_left li a{
    font-size: 14px;
    height: 46px;
    line-height: 46px;
    padding: 0 6px;
    text-decoration:none;
}
.nav_left li a:hover{
	border-bottom: #fe6878;
	color:#fe6878;

}


/*right-style*/
.nav_right{
	float:right;
    height: 46px;
    line-height: 46px;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    padding-right: 10px;
}
.nav_right .menu{
	float:left;
	margin-right:15px;
	padding-right: 10px;
	position:relative;
}
.menu span{
	height: 32px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
}
.menu span.icon{
	width:32px;
	height:32px;
	display:inline-block;
	vertical-align: middle;
	background-position:50% 50%;
	background-repeat:no-repeat;
}
.menu span.icon-start{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAgVBMVEUAAACZmZmbm5uenp6ZmZmampqbm5udnZ2bm5uampqfn5+ZmZmXl5ednZ2np6efn5+jo6Obm5uZmZmSkpKdnZ2Xl5eZmZmYmJienp6ampqZmZmampqwsLCdnZ2hoaGbm5uampqUlJTKysqUlJSbm5vT09OcnJygoKDR0dGZmZmXl5eALHw/AAAAKXRSTlMA+9MU7OSSbyGienJgQDs2Lg729vDg2MLBrq2djoqFeFlHPSgfFg8NAk3rr8QAAACBSURBVBjTVY/nDoYgDEULIuDWb+89LO//gNbiwJO06T0/blLwRBUs0dtyka1A+Q/FAxHvoTiSUHYITZ2fsGeXnLWxkMYCZ1wGewyRNVQqyOsXdRTxlFc5t5ZTSQJMMQp3aFlkHBzN5svi1t+XlKrEm4VxKJ8AH61k41+/mp8/IlodkiASazRZ4EAAAAAASUVORK5CYII=);
}
.menu span.icon-cart{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAb1BMVEUAAACZmZmampqampqcnJyampqampqdnZ2cnJygoKCZmZmampqZmZmioqKrq6ugoKCYmJiZmZmampqampqampqampqdnZ2ampqampqenp6ZmZmampqZmZmdnZ2cnJycnJyampqZmZmbm5ubm5uZmZlALAO8AAAAJHRSTlMA93VEGuMrFDYL8HdLJQYE9ufVwaynnYBt3t3JsZSPamNZPw4xzmCiAAAAeklEQVQI103KVxLDIAxFUWGM6biX9Kb9rzESzgSfH80dPXBigaNtwtX7audfAFZhoWhRYfGg1mVwSUDWf0vOMpghq3sUpDvFvRdndE3S743jW2ZBc9vRiawTAVgysSHRNJazvZ+ffOUw59aIQ0t3QjT5f+s3vkFdP/AFZtgMFtyCgtwAAAAASUVORK5CYII=);
}
.menu span.icon-gift{
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAe1BMVEUAAACampqZmZmampqampqampqcnJyampqampqampqampqampqampqbm5ubm5uampqampqZmZmZmZmZmZmZmZmZmZmbm5uampqZmZmbm5ubm5uZmZmbm5ubm5uZmZmampqampqampqenp6ampqjo6OampqcnJydnZ2ZmZnt7O0iAAAAKHRSTlMA3uy8ro9GCPLnw7ezgXx4SuLV0s2kXFRPJA3YqKKZlYZuPJpiMBsUdqmwrwAAAJlJREFUCNctjVkShCAMRBtxUBEQ932dLfc/4TBgf+QlVXnVwCip6QAIWReJY0xqo3XR0cKpAFDRB4a1bp+IA+iz/IjlQbleM+H0R0VE7EzdnNvL6f8olJ4cs2ecMM8aqWeeRJ4R9v3h0uHUxhhdoB+EEPaNy1o79APCn7r9FFXw7zu7+/gU+hq8POUUvCfQbbwu1ZelGWva8QfbSBSFMCCQ2AAAAABJRU5ErkJggg==);
}

.dropDown-menu{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /*display: none;*/
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}

.menu .dropDown-menu{
	margin-top: -4px;
    border-radius: 4px;
    -webkit-animation: fadein .5s;
    animation: fadein .5s;
    min-width: 110px;
    left: -4px;
    border-color: #ddd;
}
.menu .dropDown-menu li a{
	display: block;
    padding: 3px 13px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    font-size:14px;
    line-height:20px;
    height:30px;
}
.menu .dropDown-menu li{
	margin-right:2px;
	margin-left:2px;
}
.menu .dropDown-menu li:hover{
	background:#f5f5f5;
}