/*设置通用样式*/
body{
	font:12px "simhei",Arial,Helvetica,sans-serif;
	color:#666;
	margin:0;
	padding:0;
	background-color:#f5f5f5;
}

p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}

a{
	color:#666;
	text-decoration:none;
}
a:hover{
	color:#0aa1ed;
}
img{
	vertical-align:middle;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
.lf{ float:left; }
.rf{float:right; }

div.main{
	width:100%;
	margin:0 auto;
}
.block{
	display:block;

}
.inlineblock{
	display:inline-block;

}
a:hover{
	color:#666;
}
.clear::after{
	content: "";
	display: block;
	clear: both;
}
.inlineblock{
	display:inline-block;

}
